@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}
@font-face {
  font-family: FrankRuhlLibre;
  src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}
/* Body */
body {
  position: relative;
  background: #ffffff;
}

/* Logo */
.Logo {
  font-family: Cinzel;
  color: #47372e;
}

/* Nav Bar */
.nav-bar-hover a:hover {
  background-color: #f0d192;
  color: #47372e;
}

.NavbarBG {
  background: #5c9aa1;
}

.nav-font-color {
  font-family: FrankRuhlLibre;
  font-size: 18px;
  color: #ffffff !important;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
}

/* Promocode */
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}