@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}
@font-face {
  font-family: FrankRuhlLibre;
  src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}
/* Body */
body {
  position: relative;
  background: #ffffff;
}

/* Header */
.HeaderComponent {
  position: absolute;
  width: 1920px;
  height: 168.23px;
  left: 0px;
  top: 0px;
}

/* Logo */
.Logo {
  font-family: Cinzel;
  color: #47372e;
}

/* Nav Bar */
.NavBarComponent {
  position: absolute;
  width: 1920px;
  height: 101.23px;
  left: 0px;
  top: 67px;
}

.NavbarBG {
  background: #5c9aa1;
}

.nav-font-color {
  font-family: FrankRuhlLibre;
  font-size: 18px;
  color: #ffffff !important;
}