@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}
@font-face {
  font-family: FrankRuhlLibre;
  src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}

/* Body */
body {
  position: relative;
  background: #ffffff;
}

/* Logo */
.Logo {
  font-family: Cinzel;
  color: #47372e;
}

/* Nav Bar */
.NavbarBG {
  background: #5c9aa1;
}

.nav-font-color {
  font-family: FrankRuhlLibre;
  font-size: 18px;
  color: #ffffff !important;
}

/* Advertiment */
.AdvertBG {
  background-color: #47372e;
}

.Advert {
  background-image: url(../IMG/2892217.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
}

.with-line {
  display: block;
}

.with-line:before,
.with-line:after {
  content: "";
  display: inline-block;
  border-top: 8px solid #d9984e;
  width: 1.75em;
  vertical-align: middle;
}

.with-line:before {
  margin-right: 0.5em;
}

.with-line:after {
  margin-left: 0.5em;
}

/* Promotion */
.PromotionBG {
  background-color: black;
}

.Promotion {
  background-image: url(../IMG/Mission\ text.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
